/* universal settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Header Styling */
.header-section {
  padding: 1rem 2rem;
}
::ng-deep .mat-toolbar {
  background-color: #fff;
}
.header-elements,
nav {
  display: flex;
}
.header-elements {
  justify-content: space-between;
  width: 100%;
}
nav {
  align-items: center;
  width: 82%;
}
.icon-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  /* gap: 1rem; */
}
.header-menus {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.header-menu-text {
  font-size: 0.8rem;
  margin: 0;
  color: #888;
  display: block;
}
.oyo-logo {
  height: 6.4rem;
  width: 8.1rem;
}
svg {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}
.language-dropdown {
  border: none !important;
}
::ng-deep .language-dropdown {
  background-color: #fff;
}
.city-dropdown {
  border: none !important;
  font-weight: 500;
  text-align: center;
}
select,
option {
  font-size: 0.9rem;
}
select {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 8.5rem;
}
select::seletion {
  color: #fff;
  background: #fff !important;
  border: 0px;
  outline: 0px;
}
.bold-option {
  font-weight: 700;
}
.city-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.sub-header-section {
  padding: 0 0.5rem;
}
::ng-deep .sub-header-section,
.mat-subheader-toolbar,
.city-dropdown,
.all-cities,
.subheader-elements {
  background-color: #f3f5f7;
}
::ng-deep .sub-header-section,
.mat-subheader-toolbar {
  height: 2.5rem;
}
.hotel-section {
  background-color: #d3174d;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-description-heading {
  color: #fff;
  font-weight: 800;
  font-size: 2.2rem;
  text-align: center;
}
.hotel {
  position: absolute;
  height: 100%;
  width: 100%;
}
.hotel-description-div,
.hotels-list-div,
.social-icons-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.search-hotel-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.city-input {
  border-radius: 0;
}
::ng-deep .date-form-field {
  background-color: #fff;
  padding-top: 0;
  height: 3rem;
}
.date-form {
  display: flex;
}
.rooms-guest-option {
  width: 2rem;
}
.dropdown-button {
  width: 100%;
  height: 3rem;
  border-radius: 0;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.room-guest-div {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
li {
  text-decoration: none;
  padding: 0.5rem;
}
.room-input,
.guest-input {
  width: 5rem;
}
::ng-deep .mat-form-field-underline {
  display: none;
  background-color: #fff;
}
.search-button {
  border-radius: 0;
  color: #fff;
  background-color: #1ab64f;
}
.search-button:hover {
  background-color: #008000;
}
.exclusive-offer-section {
  padding-top: 1rem 2rem;
}
.family-stay-div {
  padding: 4rem 5rem;
}
.hotel-booking-div,
.email-susbcribe-div {
  padding: 2rem 5rem;
}
.icon-deal-div {
  padding: 1rem 1rem;
}
.fire-img {
  height: 3rem;
  width: 3rem;
  background-color: #ffefd6;
  border-radius: 100rem;
}
.exclusive-deals-content-div {
  padding: 0 1rem;
}
.family-stay-img,
.exclusive-offer-image {
  width: 100%;
}
.email-susbcribe-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input-button-div,
.icon-deal-div {
  display: flex;
  align-items: center;
}
.input-button-div {
  gap: 1.5rem;
}
.exclusive-deals-heading {
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.best-deals {
  color: #939393;
  font-size: 1.2rem;
}
::ng-deep .email-input {
  background-color: #fff;
}
.email-input {
  width: 25em;
  padding: 0.5rem 0.5rem;
}
.email-span {
  position: relative;
}
.your-email-span {
  position: absolute;
  top: -0.7rem;
  background-color: white;
  left: 0.4rem;
  color: #7f7f7f;
}
.hotel-image-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.image-div {
  position: relative;
  background: url("/assets/images/grey-world-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}
.countries-hotel-img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  padding: 1.5rem 1.5rem;
}
.china {
  right: 3rem;
  top: 0.5rem;
}
.nepal {
  right: 11.5rem;
  top: 2.5rem;
}
.dubai {
  right: 22rem;
  top: 5rem;
}
.malaysia {
  right: 3rem;
  top: 9.5rem;
}
.india {
  top: 11.5rem;
  right: 13.5rem;
}
.indonesia {
  top: 18rem;
  right: 6.5rem;
}
.tilted-div {
  /*   display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 3rem;
}
.total-countries,
.total-hotels-homes {
  font-weight: 600;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.87);
  transform: skewX(3deg);
}
.parallelogram-div-1,
.parallelogram-div-2 {
  transform: skewX(-25deg); /* parallelogram gram div tilted at -10degress */
  padding: 1rem 1rem;
}
.parallelogram-div-1 {
  border-right: 0.15rem solid #cdcecf;
}
.parallelogram-div-1 .total-countries {
  transform: skewX(0deg);
}
.parallelogram-div-1 .countries {
  transform: skewX(0deg);
}

.countries,
.hotels-homes {
  color: #707071;
}
.ind-chi-mal,
.nep-indo-uae {
  padding: 0.25rem 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ind-chi-mal li {
  list-style: none;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 0.1rem 0.1rem;
  margin-top: 2rem;
}
.nep-indo-uae li {
  list-style: none;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 0.1rem 0.1rem;
  margin-top: 2rem;
}
.ind-chi-mal li::before {
  content: "•";
  font-size: 1rem;
}
.nep-indo-uae li::before {
  content: "•";
  font-size: 1rem;
}
.ind-chi-mal li span {
  margin-left: 0.5rem;
}
.nep-indo-uae li span {
  margin-left: 0.5rem;
}
.ind-chi-mal .india-bullet::before {
  color: #1ab64f;
}
.ind-chi-mal .china-bullet::before {
  color: #ff7f7b;
}
.ind-chi-mal .malaysia-bullet::before {
  color: #f5a623;
}
.nep-indo-uae .nepal-bullet::before {
  color: #5fd6f2;
}
.nep-indo-uae .indonesia-bullet::before {
  color: #fe94f1;
}
.nep-indo-uae .uae-bullet::before {
  color: #7e89e4;
}
.footer-section {
  background-color: #6d787d;
}
.sub-header-footer {
  /* display: grid; */
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  background-color: #6d787d;
  padding: 1rem 2rem;
  gap: 1.5rem;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.oyo-footer-logo {
  width: 9rem;
  height: 2.8rem;
}
.leading-chain,
.join-network {
  font-weight: 700;
  color: #fff;
  font-size: 1rem !important;
  font-family: "Open Sans", sans-serif;
}
.buildings {
  width: 1.5rem;
  height: 1.5rem;
}
.property-text {
  margin-left: 1rem;
}
.footer-mid-content-div {
  background-color: #6d787d;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.exciting-offer {
  font-size: 1rem;
  color: #fff;
  /* text-align: left; */
}
.property-button,
.about-us-list-div,
.terms-condition-list-div {
  display: flex;
}
.about-us-list-div,
.terms-condition-list-div {
  gap: 1rem;
}
.buttons-div {
  display: flex;
  gap: 1rem;
}
.apple-android-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #000;
  padding: 0.4rem 0.8rem;
  border-radius: 0.9rem;
}
i {
  font-size: 1.75rem;
  color: #fff;
}
.google-play {
  height: 1.75rem;
  width: 1.75rem;
}
.about-us-list-div ul li {
  list-style: none;
}
.terms-condition-list-div ul li {
  list-style: none;
}
.play-store,
.app-store {
  font-size: 0.8rem;
}
.play-store,
.download,
.app-store,
.about-us-list-div,
.terms-condition-list-div ul li {
  color: #fff;
}
.play-store {
  display: flex;
  gap: 0.5rem;
}
.app-text,
.store-text,
.google-text,
.play-text {
  font-weight: 600;
  font-size: 1.2rem;
}
.main-content-div {
  margin-top: 1rem;
}
.exciting-offer-div {
  padding: 1rem 0;
}
.offers-div,
.about-us-div {
  border-right: 1px solid #fff;
  padding: 0 2rem;
}
.terms-conditions-div {
  padding-left: 2rem;
}
.first-hr,
.second-hr,
.third-hr {
  color: #fff;
}
.second-hr,
.third-hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.oyo-hotel-heading {
  padding: 1rem 0;
  font-weight: 600;
  color: #fff;
}
.list-cities {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.city-list-1,
.city-list-2,
.city-list-3,
.city-list-4,
.city-list-5,
.city-list-6 li {
  list-style: none;
  color: #fff;
}
.strong-li {
  font-weight: 500;
}
.social-media-icons-div {
  margin-top: 2rem;
}
.facebook {
  padding: 1rem;
  border-radius: 9.9rem;
  border: 1px solid #fff;
}
.social-icons-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.year-span {
  color: #fff;
}
.author {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  opacity: 0.5;
}
