/* universal settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Header Styling */
.header-section {
  padding: 1rem 2rem;
}
::ng-deep .mat-toolbar {
  background-color: #fff;
}
.header-elements,
nav {
  display: flex;
}
.header-elements {
  justify-content: space-between;
  width: 100%;
}
nav {
  align-items: center;
  width: 82%;
}
.icon-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  /* gap: 1rem; */
}
.header-menus {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.header-menu-text {
  font-size: 0.8rem;
  margin: 0;
  color: #888;
  display: block;
}
.oyo-logo {
  height: 6.4rem;
  width: 8.1rem;
}
svg {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}
.language-dropdown {
  border: none !important;
}
.city-dropdown {
  border: none !important;
  font-weight: 500;
  text-align: center;
}
select,
option {
  font-size: 0.9rem;
}
select {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 8.5rem;
}
select::seletion {
  color: #fff;
  background: #fff !important;
  border: 0px;
  outline: 0px;
}
.bold-option {
  font-weight: 700;
}
.city-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.sub-header-section {
  padding: 0 0.5rem;
}
::ng-deep .sub-header-section,
.mat-subheader-toolbar,
.city-dropdown,
.all-cities,
.subheader-elements {
  background-color: #f3f5f7;
}
::ng-deep .sub-header-section,
.mat-subheader-toolbar {
  height: 2.5rem;
}
.hotel-section {
  background-color: #d3174d;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-description-heading {
  color: #fff;
  font-weight: 800;
  font-size: 2.2rem;
  text-align: center;
}
.hotel {
  position: absolute;
  height: 100%;
  width: 100%;
}
.hotel-description-div {
  width: 75%;
}
.search-hotel-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.city-input {
  border-radius: 0;
}
::ng-deep .date-form-field {
  background-color: #fff;
  padding-top: 0;
  height: 3rem;
}
.date-form {
  display: flex;
}
.rooms-guest-option {
  width: 2rem;
}
.dropdown-button {
  width: 100%;
  height: 3rem;
  border-radius: 0;
}
.room-guest-div {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
li {
  text-decoration: none;
  padding: 0.5rem;
}
.room-input,
.guest-input {
  width: 5rem;
}
::ng-deep .mat-form-field-underline {
  display: none;
  background-color: #fff;
}
.search-button {
  border-radius: 0;
  color: #fff;
  background-color: #1ab64f;
}
.search-button:hover {
  background-color: #008000;
}
.exclusive-offer-section {
  padding-top: 1rem 2rem;
}
.family-stay-div {
  padding: 4rem 5rem;
}
.hotel-booking-div,
.email-susbcribe-div {
  padding: 2rem 5rem;
}
.icon-deal-div {
  padding: 1rem 1rem;
}
.fire-img {
  height: 3rem;
  width: 3rem;
  background-color: #ffefd6;
  border-radius: 100rem;
}
.exclusive-deals-content-div {
  padding: 0 1rem;
}
.family-stay-img,
.exclusive-offer-image {
  width: 100%;
}
.email-susbcribe-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input-button-div,
.icon-deal-div {
  display: flex;
  align-items: center;
}
.input-button-div {
  gap: 1.5rem;
}
.exclusive-deals-heading {
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.best-deals {
  color: #939393;
  font-size: 1.2rem;
}
::ng-deep .email-input {
  background-color: #fff;
}
.email-input {
  width: 25em;
  padding: 0.5rem 0.5rem;
}
.email-span {
  position: relative;
}
.your-email-span {
  position: absolute;
  top: -0.7rem;
  background-color: white;
  left: 0.4rem;
  color: #7f7f7f;
}
.hotel-image-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.image-div {
  position: relative;
  background: url("/assets/images/grey-world-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}
.countries-hotel-img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  padding: 1.5rem 1.5rem;
}
.china {
  right: 3rem;
  top: 0.5rem;
}
.nepal {
  right: 11.5rem;
  top: 2.5rem;
}
.dubai {
  right: 22rem;
  top: 5rem;
}
.malaysia {
  right: 3rem;
  top: 9.5rem;
}
.india {
  top: 11.5rem;
  right: 13.5rem;
}
.indonesia {
  top: 18rem;
  right: 6.5rem;
}
.tilted-div {
  /*   display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  gap: 1.5rem;
}
.total-countries,
.total-hotels-homes {
  font-weight: 600;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.87);
  transform: skewX(3deg);
}
.parallelogram-div-1,
.parallelogram-div-2 {
  transform: skewX(-10deg); /* parallelogram gram div tilted at -10degress */
  padding: 0.5rem 0.5rem;
}
.parallelogram-div-1 {
  border-right: 0.15rem solid #cdcecf;
}
.countries,
.hotels-homes {
  color: #707071;
}
